.getStart-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f7f7;
  gap: 10px;
  margin-bottom: 50px;
  padding: 5%;
}

.getStart-container h1 {
  font-size: 3rem;
  font-weight: 600;
}

.getStart-container p {
  font-size: 1.5rem;
  color: #555;
}

.getStart-container button {
  font-weight: 500;
  background: #04436b;
  font-size: 1rem;
  padding: 20px 100px;
}

.getStart-container button:hover{
  cursor: pointer;
}

@media (max-width: 992px) {
  .hero-container {
    grid-template-columns: 1fr; /* stack */
    text-align: center;
  }

  .hero-left,
  .hero-right {
    display: flex;
    justify-content: center;
  }

  .getStart-container h1 {
    font-size: 2rem;
  }
}
